@import '../styles/shared';

.Hero {
  @include container-layout-grid;
  grid-template-areas:". hero hero hero hero .";
  height: 100vh;
  margin: 0 auto;
  padding: 0;

  > div {
    grid-area: hero;
  }

  h1 {
    font-size: clamp(4rem, 100%, 8rem);
    font-weight: 500; // big bold
    line-height: 1.2;
  }

  p {
    font-size: var(--text-scale-2); // 2.5vw;
  }
}
