@import '../styles/shared';

.Hero {
  @include layout-grid;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;

  h1 {
    grid-column: 2/span 5;
    font-size: clamp(4rem, 100%, 8rem);
    font-weight: 170; // big bold
    line-height: 1.2;
  }
}
