@import '../styles/shared';

.MediaContainer {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 1rem;
  margin: 0 auto;
  padding: 0;
}

.Media {
  --ease: cubic-bezier(0.23, 1, 0.38, 1);

  grid-column-start: 2;
  grid-column-end: span 2;
  overflow: hidden;
  will-change: transform, opacity;

  &:nth-child(even) {
    grid-column-start: 4;
  }
}
